/* =============
    associations
============= */
#associations{
    color: white;
    padding: 100px;
    padding-top: 50px;
}
#associations h1{
    font-size: 50px;
}
.association{
    padding-top: 20px;
}